/* Bio CSS */

#bio {
    float: center;
    flex: 0 0 100%;
    line-height: 1.0;
}

#bio_body {
    margin-top: 2em;
    font-size: 1vw;
    padding-top: 2.1em;
    margin-bottom: 1.2em;
    margin-left: 16em;
    width: 44em;
}

#bio_img {
    align-items: left;
    float: left;
    flex-basis: 40%;
    padding-top: 2em;
    padding-bottom: 3em;
    padding-right: 1em;
    width: 9em;
}

i:hover {
    color: white;
}

i {
    font-size: 3vh;
    letter-spacing: 1em;
}

a:hover {
    color: white;
    font-size: 1em;
    text-decoration: none;
}

#bio_container:hover > #bio > h2 > .hover {
    opacity: 1.0;
}

#bio_container:hover > #bio > h2 > .hover::after {
    width: 100%;
}

#bio_container {
    display: flex;
}

p {
    display: block;
    width: 95%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1vw;
    margin-top: 0;
    line-height: 1.2;
}

