h3 {
    font-family: "Courier Prime";
    text-align: left;
    display: inline-block;
    margin: 0 1rem 0.3rem 0rem;
}

.lang_bar {
    flex: 0 0 0.8em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.slider__caption {
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 0.2rem;
    color: white;
}

.slider__txt {
    color: white;
    margin: 1rem 1rem 1rem 0;
    text-align: left;
}

.job_title {
    font-weight: 400;
    font-size: 0.6em;
    margin-bottom: 0.2rem;
    color: #b1b1b1;
}

.company-logo {
    width: 1em;
    height: 1em;
    border-radius: 3px;
    margin-right: 1em;
}

.job-info {
    padding: 0em 0 0em 0;
}

.lang_bar {
    position: relative;
}

/* Tooltip text */
.lang_bar .tooltiptext {
    font-family: 'Open Sans', sans-serif;
    white-space: nowrap;
    visibility: hidden;
    opacity: 0;
    color: var(--dark);
    text-align: center;
    border-radius: 3px;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    top: 50%;
    transform: translate(5em, -50%);
    z-index: 1;
    transition: all 0.2s cubic-bezier(.25, .8, .25, 1);
}

.lang_bar:hover .tooltiptext {
    visibility: visible;
    opacity: 1.0;
    margin-left: -3em;
}
