@media all and (max-width: 450px) {
    .mobile-only {
        display: inline-block !important;
        font-size: 9vw !important;
    }

    #landing-overlay {
        overflow: visible;
        left: 10% !important;
        width: 80% !important;
    }

    #prev-about {
        padding-top: 8vw !important;
        font-size: 5vw !important;
    }

    #prev-exp {
        font-size: 5vw !important;
    }

    #prev-projects {
        font-size: 5vw !important;
    }

    h1 {
        font-size: 7vw !important;
    }


    h2 {
        font-size: 7vw !important;
    }

    h3 {
        font-size: 5vw !important;
    }

    p {
        font-size: 3vw !important;
    }

    a {
        font-size: 3vw !important;
    }

    img {
        width:35vw !important;
        padding-right: 0vw !important;
        padding-top: 6vw !important;
        padding-bottom: 2vw !important;
        height:auto !important;
    }

    .mobile-hide {
        display: None !important;
    }

    #bio_container, #experience, #projects {
        padding: 0 5vw 30px 5vw !important;
    }

    #bio {
        width: 80vw !important;
    }

    #bio_body {
        overflow: visible !important;
        padding-top: 0vw !important;
        padding-left: 0vw !important;
        margin-left: 40vw !important;
        margin-top: 5.5vw !important;
        padding-right: 4vw !important;
        width: 50vw !important;
    }

    .card_container {
        padding-left: 1vw !important;
        width: 90vw !important;
    }

    .company-logo {
        height: 15vw !important;
        width: 15vw !important;
        padding: 0vw 2vw 0vw 0vw !important;
        margin: 0vw 0vw 0vw 0vw !important;
        border-radius: 0vw !important;
    }

    .job-info {
        width: 60vw !important;
        padding: 1vw 1vw 1vw 1vw !important;
    }

    .job_title {
        font-size: 3vw !important;
        padding-left: 1vw !important;
    }

    .slider__caption {
        width: 60vw !important;
        padding-left: 1vw !important;
    }

    .project_list{
        margin: 0 0 0 0 !important;
        padding-left: 0 !important;
    }

    .accordion {
        margin: 0 0 5vw 0 !important;
    }

    .accordion-item {
        position: center !important;
        margin: 0 0 0 -10vw !important;
        padding: 0 0 0 0 !important;
        width: 80vw !important;
    }

    .accordion-panel p {
        margin: 0vw 0vw 0vw 0vw !important;
        padding: 0vw 0vw 0vw 0vw !important;
    }

    .accordion-image{
        padding: 0 0 0 0 !important;
    }

    .lang_bar {
        flex: 0 0 0.4em !important;
    }

    .accordion_thumb {
        font-size: 1em;
    }

    #button {
        width: 95vw !important;
    }

    .iframe{
        width: 50vw !important;
    }

    .proj_left {
        width: 95vw !important;
        padding: 4vw 4vw 4vw 4vw !important;
    }

    .proj_desc a {
        padding-right: 2vw !important;
        font-size: 3vw;
        transform: translateY(0.35em);
    }

    .tooltiptext {
        display: None
    }
}
