.accordion {
    margin: 1rem 0;
    padding: 0;
    cursor: pointer;
    list-style: none;
}

.accordion-item {
    margin-top: 1em;
    background-color: rgba(66, 139, 202, 0.20);
}

.proj_left {
    width: 100%;
    padding: 1.3em 0 1.3em 1.3em;
}

.short-desc {
    width: auto !important;
    white-space: nowrap;
}

.spacer {
    flex: 25%;
}

/* Thumb */
.accordion-thumb {
    margin: 0;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.3em;
    padding-right: 0.3em;
}



/* Panel */
.accordion-panel {
    margin: 0;
    padding-bottom: .8rem;
    padding-top: .8rem;
    display: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.accordion-image {
    position: inherit;
    height: auto;
    width: 50em;
    opacity: 0.6;
    padding-top: 1em;
    padding-bottom: 1em;
}

.accordion-image:hover {
    opacity: 1.0;
}

.accordion-panel p {
    size: 3em;
    padding-top: 1em;
    color: #dfdfdf;
}


